<div class="container-flui">
  <div class="row m-5">
    <div class="col-12 text-center">
      <table class="table">
      <h2 class= "mb-5">Blog Show</h2>
       <thead>
          <tr>
            <th>タイトル</th>
            <th>カテゴリ</th>
            <th>本文</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%=safe_join(@blog.title.split("\n"),tag(:br))%></td>
            <td><%=safe_join(@blog.category.split("\n"),tag(:br))%></td>
            <td><%=safe_join(@blog.body.split("\n"),tag(:br))%></td>
            <td><%= link_to "編集", edit_blog_path(@blog.id) %></td>
            <td><%= link_to "削除", blog_path(@blog.id), method: :delete, data: {confirm: "削除しますか？"} %></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>


